/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//
// General configuration options
//

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'MULTIQC' {
        container = "biocontainers/multiqc:1.29--pyhdfd78af_0"
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        ext.args2  = [
            "-e general_stats",
            "--ignore *nextclade_clade_mqc.tsv",
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ARTIC_GUPPYPLEX' {
        container = "staphb/artic:1.6.2"
    }

    withName: 'BCFTOOLS_*' {
        container = "staphb/bcftools:1.24"
    }

    withName: 'BLAST_BLASTN' {
        container = "staphb/blast:2.16.0"
    }

    withName: 'BOWTIE2_BUILD*' {
        container = "biocontainers/mulled-v2-ac74a7f02cebcfcc07d8e8d1d750af9c83b4d45a:a0ffedb52808e102887f6ce600d092675bf3528a-0"
    }

    withName: 'BOWTIE2_ALIGN*' {
        container = "biocontainers/mulled-v2-ac74a7f02cebcfcc07d8e8d1d750af9c83b4d45a:a0ffedb52808e102887f6ce600d092675bf3528a-0"
    }

    withName: 'CAT_FASTQ' {
        container = "wslh-bioinformatics/pandas:1.5.0"
    }

    withName: 'CUTADAPT' {
        container = "nanozoo/cutadapt:5.1-0--f314a40"
    }

    withName: 'FASTP' {
        container = "staphb/fastp:1.0.1"
    }

    withName: 'GUNZIP' {
        container = "wslh-bioinformatics/pandas:1.5.0"
    }

    withName: 'KRAKEN2_KRAKEN2' {
        container = "epil02/kraken2_pigz:2.17.1python"
    }

    withName: 'MOSDEPTH' {
        container = "biocontainers/mosdepth:0.3.14--h87be163_2"
    }

    withName: 'PANGOLIN_UPDATEDATA' {
        container = "biocontainers/pangolin:4.2--pyhdfd78af_1"
    }

    withName: 'PANGOLIN_RUN' {
        container = "biocontainers/pangolin:4.2--pyhdfd78af_1"
    }


    withName: 'QUAST' {
        container = "staphb/quast:5.3.0"
    }

    withName: 'TABIX_*' {
        container = "staphb/htslib:1.21"
    }

    withName: 'UNTAR' {
        container = "wslh-bioinformatics/pandas:1.5.0"
    }

    withName: 'VCFLIB_VCFUNIQ' {
        container = "biocontainers/vcflib:1.0.15--h3fa9d83_1"
    }



}

if (params.platform == 'nanopore') {
    includeConfig 'modules_nanopore.config'
} else if (params.platform == 'illumina') {
    includeConfig 'modules_illumina.config'
}
