params {
    ecr_registry = ''
    outdir = '/mnt/workflow/pubdir'
}
manifest {
    nextflowVersion = '!>=23.10'
}
conda {
    enabled = false
}
docker {
    enabled = true
    registry = '<account-id>.dkr.ecr.us-east-1.amazonaws.com'
}
process {
    withName: '.*' { conda = null }
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:FASTQC' { container = 'biocontainers/fastqc:0.11.9--0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:BAM_TRIM_PRIMERS_IVAR:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' { container = 'biocontainers/samtools:1.16.1--h6899075_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:FASTQ_ALIGN_BOWTIE2:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' { container = 'biocontainers/samtools:1.16.1--h6899075_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:ASSEMBLY_UNICYCLER:ASSEMBLY_QC:FILTER_BLASTN' { container = 'ubuntu:20.04'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:KRAKEN2_KRAKEN2' { container = 'biocontainers/mulled-v2-5799ab18b5fc681e75923b2450abaa969907ec98:87fc08d11968d081f3e8a37131c1f1f6715b6542-0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:CONSENSUS_BCFTOOLS:BEDTOOLS_MASKFASTA' { container = 'biocontainers/bedtools:2.30.0--hc088bd4_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:CONSENSUS_BCFTOOLS:CONSENSUS_QC:NEXTCLADE_RUN' { container = 'biocontainers/nextclade:3.9.1--h9ee0642_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:ASSEMBLY_MINIA:ASSEMBLY_QC:FILTER_BLASTN' { container = 'ubuntu:20.04'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:BAM_TRIM_PRIMERS_IVAR:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' { container = 'biocontainers/samtools:1.16.1--h6899075_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:ASSEMBLY_UNICYCLER:BANDAGE_IMAGE' { container = 'biocontainers/bandage:0.8.1--hc9558a2_2'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:WSLH_REPORT' { container = 'hdc-workflows/pysam:latest'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:FASTQ_TRIM_FASTP_FASTQC:FASTQC_TRIM' { container = 'biocontainers/fastqc:0.11.9--0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:MOSDEPTH_AMPLICON' { container = 'biocontainers/mosdepth:0.3.3--hdfd78af_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:CONSENSUS_BCFTOOLS:BCFTOOLS_FILTER' { container = 'biocontainers/bcftools:1.16--hfe4b78e_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:FASTQ_ALIGN_BOWTIE2:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' { container = 'biocontainers/samtools:1.16.1--h6899075_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:FASTQ_ALIGN_BOWTIE2:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_INDEX' { container = 'biocontainers/samtools:1.16.1--h6899075_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:VARIANTS_LONG_TABLE:MAKE_VARIANTS_LONG_TABLE' { container = 'biocontainers/mulled-v2-77320db00eefbbf8c599692102c3d387a37ef02a:08144a66f00dc7684fad061f1466033c0176e7ad-0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:PREPARE_GENOME:NEXTCLADE_DATASETGET' { container = 'biocontainers/nextclade:3.9.1--h9ee0642_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:ASSEMBLY_SPADES:SPADES' { container = 'biocontainers/spades:3.15.5--h95f258a_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:BAM_TRIM_PRIMERS_IVAR:IVAR_TRIM' { container = 'biocontainers/ivar:1.4--h6b7c446_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:FASTQ_TRIM_FASTP_FASTQC:FASTP' { container = 'biocontainers/fastp:0.23.2--h79da9fb_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:MOSDEPTH_GENOME' { container = 'biocontainers/mosdepth:0.3.3--hdfd78af_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:PLOT_MOSDEPTH_REGIONS_AMPLICON' { container = 'biocontainers/mulled-v2-ad9dd5f398966bf899ae05f8e7c54d0fb10cdfa7:05678da05b8e5a7a5130e90a9f9a6c585b965afa-0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:CONSENSUS_BCFTOOLS:BCFTOOLS_CONSENSUS' { container = 'biocontainers/bcftools:1.16--hfe4b78e_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:PLOT_MOSDEPTH_REGIONS_GENOME' { container = 'biocontainers/mulled-v2-ad9dd5f398966bf899ae05f8e7c54d0fb10cdfa7:05678da05b8e5a7a5130e90a9f9a6c585b965afa-0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:VARIANTS_QC:SNPEFF_SNPSIFT:VCF_BGZIP_TABIX_STATS:VCF_TABIX_STATS:BCFTOOLS_STATS' { container = 'biocontainers/bcftools:1.16--hfe4b78e_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:MULTIQC' { container = 'biocontainers/multiqc:1.14--pyhdfd78af_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:ASSEMBLY_SPADES:ASSEMBLY_QC:ABACAS' { container = 'biocontainers/abacas:1.3.1--pl526_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:CONSENSUS_BCFTOOLS:CONSENSUS_QC:PANGOLIN' { container = 'staphb/pangolin:latest'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:FASTQ_ALIGN_BOWTIE2:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' { container = 'biocontainers/samtools:1.16.1--h6899075_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:CUSTOM_DUMPSOFTWAREVERSIONS' { container = 'biocontainers/multiqc:1.14--pyhdfd78af_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:IVAR_VARIANTS' { container = 'biocontainers/ivar:1.4--h6b7c446_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:VCF_TABIX_STATS:BCFTOOLS_STATS' { container = 'biocontainers/bcftools:1.16--hfe4b78e_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:BAM_TRIM_PRIMERS_IVAR:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' { container = 'biocontainers/samtools:1.16.1--h6899075_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:CONSENSUS_BCFTOOLS:CONSENSUS_QC:QUAST' { container = 'biocontainers/quast:5.2.0--py39pl5321h2add14b_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:CONSENSUS_BCFTOOLS:TABIX_TABIX' { container = 'biocontainers/tabix:1.11--hdfd78af_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:INPUT_CHECK:SAMPLESHEET_CHECK' { container = 'biocontainers/python:3.9--1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:PREPARE_GENOME:SNPEFF_BUILD' { container = 'biocontainers/snpeff:5.0--hdfd78af_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:PREPARE_GENOME:CUSTOM_GETCHROMSIZES' { container = 'biocontainers/samtools:1.16.1--h6899075_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:BAM_TRIM_PRIMERS_IVAR:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_INDEX' { container = 'biocontainers/samtools:1.16.1--h6899075_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:PREPARE_GENOME:COLLAPSE_PRIMERS' { container = 'biocontainers/python:3.9--1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:ASSEMBLY_UNICYCLER:ASSEMBLY_QC:BLAST_BLASTN' { container = 'biocontainers/blast:2.13.0--hf3cf87c_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:ASSEMBLY_MINIA:MINIA' { container = 'biocontainers/minia:3.2.6--h9a82719_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:VARIANTS_QC:SNPEFF_SNPSIFT:SNPSIFT_EXTRACTFIELDS' { container = 'biocontainers/snpsift:4.3.1t--hdfd78af_3'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:ASSEMBLY_SPADES:GUNZIP_GFA' { container = 'ubuntu:20.04'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:VARIANTS_QC:SNPEFF_SNPSIFT:VCF_BGZIP_TABIX_STATS:VCF_TABIX_STATS:TABIX_TABIX' { container = 'biocontainers/tabix:1.11--hdfd78af_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:ASSEMBLY_SPADES:ASSEMBLY_QC:BLAST_BLASTN' { container = 'biocontainers/blast:2.13.0--hf3cf87c_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:PREPARE_GENOME:UNTAR_KRAKEN2_DB' { container = 'ubuntu:20.04'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:ASSEMBLY_UNICYCLER:GUNZIP_SCAFFOLDS' { container = 'ubuntu:20.04'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:BAM_TRIM_PRIMERS_IVAR:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' { container = 'biocontainers/samtools:1.16.1--h6899075_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:CONSENSUS_BCFTOOLS:BEDTOOLS_MERGE' { container = 'biocontainers/bedtools:2.30.0--hc088bd4_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:CONSENSUS_BCFTOOLS:CONSENSUS_QC:PLOT_BASE_DENSITY' { container = 'biocontainers/mulled-v2-ad9dd5f398966bf899ae05f8e7c54d0fb10cdfa7:05678da05b8e5a7a5130e90a9f9a6c585b965afa-0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:ASSEMBLY_UNICYCLER:GUNZIP_GFA' { container = 'ubuntu:20.04'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:FASTQ_ALIGN_BOWTIE2:BOWTIE2_ALIGN' { container = 'biocontainers/mulled-v2-ac74a7f02cebcfcc07d8e8d1d750af9c83b4d45a:a0ffedb52808e102887f6ce600d092675bf3528a-0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:CAT_FASTQ' { container = 'ubuntu:20.04'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:ASSEMBLY_UNICYCLER:ASSEMBLY_QC:ABACAS' { container = 'biocontainers/abacas:1.3.1--pl526_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:CONSENSUS_BCFTOOLS:MAKE_BED_MASK' { container = 'biocontainers/mulled-v2-1a35167f7a491c7086c13835aaa74b39f1f43979:6b5cffa1187cfccf2dc983ed3b5359d49b999eb0-0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:ASSEMBLY_SPADES:BANDAGE_IMAGE' { container = 'biocontainers/bandage:0.8.1--hc9558a2_2'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:FASTQ_ALIGN_BOWTIE2:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' { container = 'biocontainers/samtools:1.16.1--h6899075_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:VARIANTS_QC:SNPEFF_SNPSIFT:VCF_BGZIP_TABIX_STATS:TABIX_BGZIP' { container = 'biocontainers/tabix:1.11--hdfd78af_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:ASSEMBLY_SPADES:GUNZIP_SCAFFOLDS' { container = 'ubuntu:20.04'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:CONSENSUS_BCFTOOLS:RENAME_FASTA_HEADER' { container = 'ubuntu:20.04'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:ASSEMBLY_SPADES:AShow to add copilot to viscodeSEMBLY_QC:QUAST' { container = 'biocontainers/quast:5.2.0--py39pl5321h2add14b_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:PREPARE_GENOME:BOWTIE2_BUILD' { container = 'biocontainers/bowtie2:2.4.4--py39hbb4e92a_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:IVAR_VARIANTS_TO_VCF' { container = 'biocontainers/mulled-v2-ff46c3f421ca930fcc54e67ab61c8e1bcbddfe22:1ad3da14f705eb0cdff6b5a44fea4909307524b4-0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:ASSEMBLY_UNICYCLER:ASSEMBLY_QC:QUAST' { container = 'biocontainers/quast:5.2.0--py39pl5321h2add14b_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:PREPARE_GENOME:BEDTOOLS_GETFASTA' { container = 'biocontainers/bedtools:2.30.0--hc088bd4_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:FASTQ_TRIM_FASTP_FASTQC:FASTQC_RAW' { container = 'biocontainers/fastqc:0.11.9--0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:VARIANTS_QC:SNPEFF_SNPSIFT:SNPEFF_ANN' { container = 'biocontainers/snpeff:5.0--hdfd78af_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:CUTADAPT' { container = 'biocontainers/cutadapt:4.2--py39hbf8eff0_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:PREPARE_GENOME:GUNZIP_GFF' { container = 'ubuntu:20.04'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:ASSEMBLY_MINIA:ASSEMBLY_QC:ABACAS' { container = 'biocontainers/abacas:1.3.1--pl526_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:VCF_TABIX_STATS:TABIX_TABIX' { container = 'biocontainers/tabix:1.11--hdfd78af_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:VARIANTS_QC:ASCIIGENOME' { container = 'biocontainers/mulled-v2-093691b47d719890dc19ac0c13c4528e9776897f:27211b8c38006480d69eb1be3ef09a7bf0a49d76-0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:VARIANTS_IVAR:BCFTOOLS_SORT' { container = 'biocontainers/bcftools:1.16--hfe4b78e_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:ASSEMBLY_MINIA:ASSEMBLY_QC:BLAST_BLASTN' { container = 'biocontainers/blast:2.13.0--hf3cf87c_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:VARIANTS_LONG_TABLE:BCFTOOLS_QUERY' { container = 'biocontainers/bcftools:1.16--hfe4b78e_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:ASSEMBLY_MINIA:ASSEMBLY_QC:QUAST' { container = 'biocontainers/quast:5.2.0--py39pl5321h2add14b_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:PREPARE_GENOME:BLAST_MAKEBLASTDB' { container = 'biocontainers/blast:2.13.0--hf3cf87c_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:ASSEMBLY_SPADES:ASSEMBLY_QC:FILTER_BLASTN' { container = 'ubuntu:20.04'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:PICARD_COLLECTMULTIPLEMETRICS' { container = 'biocontainers/picard:3.0.0--hdfd78af_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:ILLUMINA:ASSEMBLY_UNICYCLER:UNICYCLER' { container = 'biocontainers/unicycler:0.4.8--py38h8162308_3'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:TABIX_TABIX' { container = 'biocontainers/tabix:1.11--hdfd78af_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:MULTIQC' { container = 'biocontainers/multiqc:1.14--pyhdfd78af_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:PREPARE_GENOME:SNPEFF_BUILD' { container = 'biocontainers/snpeff:5.0--hdfd78af_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:FILTER_BAM_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' { container = 'biocontainers/samtools:1.16.1--h6899075_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:VARIANTS_LONG_TABLE:BCFTOOLS_QUERY' { container = 'biocontainers/bcftools:1.16--hfe4b78e_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:WSLH_REPORT' { container = 'hdc-workflows/pysam:latest'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:VCFLIB_VCFUNIQ' { container = 'biocontainers/vcflib:1.0.3--hecb563c_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:SNPEFF_SNPSIFT:SNPEFF_ANN' { container = 'biocontainers/snpeff:5.0--hdfd78af_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:MOSDEPTH_GENOME' { container = 'biocontainers/mosdepth:0.3.3--hdfd78af_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:ARTIC_GUPPYPLEX' { container = 'biocontainers/artic:1.2.3--pyhdfd78af_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:PLOT_MOSDEPTH_REGIONS_GENOME' { container = 'biocontainers/mulled-v2-ad9dd5f398966bf899ae05f8e7c54d0fb10cdfa7:05678da05b8e5a7a5130e90a9f9a6c585b965afa-0'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:NANOPLOT' { container = 'biocontainers/nanoplot:1.41.0--pyhdfd78af_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:QUAST' { container = 'biocontainers/quast:5.2.0--py39pl5321h2add14b_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:PANGOLIN' { container = 'staphb/pangolin:latest'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:FILTER_BAM_SAMTOOLS:SAMTOOLS_INDEX' { container = 'biocontainers/samtools:1.16.1--h6899075_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:BCFTOOLS_STATS' { container = 'biocontainers/bcftools:1.16--hfe4b78e_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:ASCIIGENOME' { container = 'biocontainers/mulled-v2-093691b47d719890dc19ac0c13c4528e9776897f:27211b8c38006480d69eb1be3ef09a7bf0a49d76-0'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:PREPARE_GENOME:COLLAPSE_PRIMERS' { container = 'biocontainers/python:3.9--1'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:PREPARE_GENOME:NEXTCLADE_DATASETGET' { container = 'biocontainers/nextclade:3.9.1--h9ee0642_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:PREPARE_GENOME:CUSTOM_GETCHROMSIZES' { container = 'biocontainers/samtools:1.16.1--h6899075_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:FILTER_BAM_SAMTOOLS:SAMTOOLS_VIEW' { container = 'biocontainers/samtools:1.16.1--h6899075_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:INPUT_CHECK:SAMPLESHEET_CHECK' { container = 'biocontainers/python:3.9--1'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:MOSDEPTH_AMPLICON' { container = 'biocontainers/mosdepth:0.3.3--hdfd78af_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:FILTER_BAM_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' { container = 'biocontainers/samtools:1.16.1--h6899075_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:FILTER_BAM_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' { container = 'biocontainers/samtools:1.16.1--h6899075_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:SNPEFF_SNPSIFT:VCF_BGZIP_TABIX_STATS:TABIX_BGZIP' { container = 'biocontainers/tabix:1.11--hdfd78af_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:CUSTOM_DUMPSOFTWAREVERSIONS' { container = 'biocontainers/multiqc:1.14--pyhdfd78af_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:PYCOQC' { container = 'biocontainers/pycoqc:2.5.2--py_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:PREPARE_GENOME:GUNZIP_GFF' { container = 'ubuntu:20.04'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:ARTIC_MINION' { container = 'biocontainers/artic:1.2.3--pyhdfd78af_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:NEXTCLADE_RUN' { container = 'biocontainers/nextclade:3.9.1--h9ee0642_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:SNPEFF_SNPSIFT:SNPSIFT_EXTRACTFIELDS' { container = 'biocontainers/snpsift:4.3.1t--hdfd78af_3'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:VARIANTS_LONG_TABLE:MAKE_VARIANTS_LONG_TABLE' { container = 'biocontainers/mulled-v2-77320db00eefbbf8c599692102c3d387a37ef02a:08144a66f00dc7684fad061f1466033c0176e7ad-0'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:SNPEFF_SNPSIFT:VCF_BGZIP_TABIX_STATS:VCF_TABIX_STATS:TABIX_TABIX' { container = 'biocontainers/tabix:1.11--hdfd78af_0'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:SNPEFF_SNPSIFT:VCF_BGZIP_TABIX_STATS:VCF_TABIX_STATS:BCFTOOLS_STATS' { container = 'biocontainers/bcftools:1.16--hfe4b78e_1'}
    withName: '(.+:)?NFCORE_VIRALRECON:NANOPORE:PLOT_MOSDEPTH_REGIONS_AMPLICON' { container = 'biocontainers/mulled-v2-ad9dd5f398966bf899ae05f8e7c54d0fb10cdfa7:05678da05b8e5a7a5130e90a9f9a6c585b965afa-0'}
}

