// WSLH configuration for container versions; Coverage of 50X set

nextclade_container     = 'quay.io/biocontainers/nextclade:3.9.1--h9ee0642_0'

process {
    withName: 'NEXTCLADE_DATASETGET' {
        container = nextclade_container
    }
    withName: 'NEXTCLADE_RUN' {
        container = nextclade_container
    }
    withName: 'IVAR_VARIANTS' {
        ext.args = '-t 0.75 -q 20 -m 50'
    }
    withName: 'MAKE_BED_MASK' {
        ext.args2 = 50
    }
    withName: 'MULTIQC' {
        publishDir = [
            [
                path: { "${params.outdir}/multiqc" },
                mode: params.publish_dir_mode,
                pattern: 'multiqc*'
            ],
            [
                path: { "${params.outdir}/multiqc" },
                mode: params.publish_dir_mode,
                pattern: '*variants_metrics_mqc.csv',
                enabled: !params.skip_variants
            ],
            [
                path: { "${params.outdir}/wslh_report" },
                mode: params.publish_dir_mode,
                pattern: '*variants_metrics_mqc.csv',
                enabled: !params.skip_variants,
                saveAs: { filename -> 
                    params.runname ? "${params.runname}_rsv_viralrecon_report.csv" : "${workflow.runName}_rsv_viralrecon_report.csv"
                }
            ],
            [
                path: { "${params.outdir}/multiqc" },
                mode: params.publish_dir_mode,
                pattern: '*assembly_metrics_mqc.csv',
                enabled: !params.skip_assembly
            ]
        ]
    }
}
