// General parameters for WSLH configuration

params {
    kraken2_db                      = 's3://dev-wslh-sequencing-archive/kraken2_dbs/kraken2_human.tar.gz'
    platform                        = 'illumina'
    protocol                        = 'amplicon'
    skip_pangolin                   = true
    skip_asciigenome                = true
    kraken2_variants_host_filter    = true
    skip_kraken2                    = false
    skip_assembly                   = true
    kraken2_variants_host_filter    = true
}

// Need to add Genome and primer bed information
params {
    genomes {
        'RSVA' {
            fasta                       = 's3://dev-wslh-sequencing-archive/viralrecon/RSV/assets/RSVA_V1/RSVA.reference.fasta'
            primer_bed                  = 's3://dev-wslh-sequencing-archive/viralrecon/RSV/assets/RSVA_V1/RSVA.primer.bed'
            nextclade_dataset_name      = 'rsv_a'
            nextclade_dataset_tag       = '2025-07-01--21-21-21Z'
        }
        'RSVB' {
            fasta                       = 's3://dev-wslh-sequencing-archive/viralrecon/RSV/assets/RSVB_V1/RSVB.reference.fasta'
            primer_bed                  = 's3://dev-wslh-sequencing-archive/viralrecon/RSV/assets/RSVB_V1/RSVB.primer.bed'
            nextclade_dataset_name      = 'rsv_b'
            nextclade_dataset_tag       = '2025-07-01--21-21-21Z'
        }
    }
}

// WSLH configuration for container versions; Coverage of 50X set; this is only change from default settings

nextclade_container     = 'quay.io/biocontainers/nextclade:3.9.1--h9ee0642_0'

process {
    withName: 'NEXTCLADE_DATASETGET' {
        container = nextclade_container
    }
    withName: 'NEXTCLADE_RUN' {
        container = nextclade_container
    }
    withName: 'IVAR_VARIANTS' {
        ext.args = '-t 0.25 -q 20 -m 50'
    }
    withName: 'MAKE_BED_MASK' {
        ext.args2 = 50
    }
    withName: 'MULTIQC' {
        publishDir = [
            [
                path: { "${params.outdir}/multiqc" },
                mode: params.publish_dir_mode,
                pattern: 'multiqc*'
            ],
            [
                path: { "${params.outdir}/multiqc" },
                mode: params.publish_dir_mode,
                pattern: '*variants_metrics_mqc.csv',
                enabled: !params.skip_variants
            ],
            [
                path: { "${params.outdir}/wslh_report" },
                mode: params.publish_dir_mode,
                pattern: '*variants_metrics_mqc.csv',
                enabled: !params.skip_variants,
                saveAs: { filename -> "${workflow.runName}_rsv_viralrecon_report.csv" }
            ],
            [
                path: { "${params.outdir}/multiqc" },
                mode: params.publish_dir_mode,
                pattern: '*assembly_metrics_mqc.csv',
                enabled: !params.skip_assembly
            ]
        ]
    }
}
