// WSLH specific process customizations and container overrides

pangolin_container      = 'staphb/pangolin:latest'
nextclade_container     = 'quay.io/biocontainers/nextclade:3.9.1--h9ee0642_0'

process {
    withName: 'PANGOLIN' {
        container = pangolin_container
    }
    withName: 'NEXTCLADE_DATASETGET' {
        container = nextclade_container
    }
    withName: 'NEXTCLADE_RUN' {
        container = nextclade_container
    }
    withName: 'IVAR_VARIANTS' {
        ext.args = '-t 0.25 -q 20 -m 100'
    }
    withName: 'IVAR_CONSENSUS' {
        ext.args = '-t 0.75 -q 20 -m 100 -n N'
    }

    withName: 'WSLH_REPORT' {
        publishDir = [
            path: { "${params.outdir}/wslh_report" },
            mode: params.publish_dir_mode,
            pattern: "*_viralrecon_report.csv",
            saveAs: { filename -> 
                    params.runname ? "${params.runname}_viralrecon_report.csv" : "${workflow.runName}_viralrecon_report.csv"
                }
        ]
    }
}