process {
   withName: 'ARTIC_GUPPYPLEX' {
        container = "staphb/artic:1.6.2"
    }

    withName: 'BCFTOOLS_FILTER' {
        container = "staphb/bcftools:1.24"
    }

    withName: 'BCFTOOLS_SORT' {
        container = "staphb/bcftools:1.24"
    }

    withName: 'BCFTOOLS_STATS' {
        container = "staphb/bcftools:1.24"
    }

    withName: 'BCFTOOLS_QUERY' {
        container = "staphb/bcftools:1.24"
    }



    withName: 'BLAST_BLASTN' {
        container = "staphb/blast:2.16.0"
    }

    withName: 'BOWTIE2_BUILD*' {
        container = "biocontainers/mulled-v2-ac74a7f02cebcfcc07d8e8d1d750af9c83b4d45a:a0ffedb52808e102887f6ce600d092675bf3528a-0"
    }

    withName: 'BOWTIE2_ALIGN*' {
        container = "biocontainers/mulled-v2-ac74a7f02cebcfcc07d8e8d1d750af9c83b4d45a:a0ffedb52808e102887f6ce600d092675bf3528a-0"
    }

    withName: 'CAT_FASTQ' {
        container = "wslh-bioinformatics/pandas:1.5.0"
    }

    withName: 'CUTADAPT' {
        container = "nanozoo/cutadapt:5.1-0--f314a40"
    }

    withName: 'FASTP' {
        container = "staphb/fastp:1.0.1"
                    ext.args = '--cut_front --cut_tail --trim_poly_x --cut_mean_quality 30 --qualified_quality_phred 30 --unqualified_percent_limit 10 --length_required 50 --adapter_sequence=AGATCGGAAGAGCACACGTCTGAACTCCAGTCA --adapter_sequence_r2=AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
    }

    withName: 'FREYJA' {
        container = "staphb/freyja:latest"
    }

    withName: 'GUNZIP' {
        container = "wslh-bioinformatics/pandas:1.5.0"
    }
    withName: 'IVAR_VARIANTS_TO_VCF' {
        container = "biocontainers/mulled-v2-ff46c3f421ca930fcc54e67ab61c8e1bcbddfe22:1ad3da14f705eb0cdff6b5a44fea4909307524b4-0"
    }
    withName: 'KRAKEN2_KRAKEN2' {
        container = "epil02/kraken2_pigz:2.17.1python"
        ext.args = '--report-zero-counts --confidence 0.4'
    }

    withName: 'MOSDEPTH' {
        container = "biocontainers/mosdepth:0.3.14--h87be163_2"
    }

    withName: 'MOSDEPTH_REGIONS_GENOME' {
        container = "biocontainers/mosdepth:0.3.14--h87be163_2"
    }

    withName: 'MOSDEPTH_REGIONS_AMPLICON' {
        container = "biocontainers/mosdepth:0.3.14--h87be163_2"
    }


    withName: 'PANGOLIN_UPDATEDATA' {
        container = "biocontainers/pangolin:4.2--pyhdfd78af_1"
    }

    withName: 'PANGOLIN_RUN' {
        container = "biocontainers/pangolin:4.2--pyhdfd78af_1"
    }

    withName: 'PICARD_COLLECTMULTIPLEMETRICS' {
        container = 'biocontainers/picard:3.4.0--hdfd78af_0'
    }

    withName: 'PLOT_BASE_DENSITY' {
        container = 'biocontainers/mulled-v2-ad9dd5f398966bf899ae05f8e7c54d0fb10cdfa7:05678da05b8e5a7a5130e90a9f9a6c585b965afa-0'
    }

    withName: 'PLOT_MOSDEPTH_REGIONS_GENOME' {
        container = "biocontainers/mulled-v2-ad9dd5f398966bf899ae05f8e7c54d0fb10cdfa7:05678da05b8e5a7a5130e90a9f9a6c585b965afa-0"
    }

    withName: 'PLOT_MOSDEPTH_REGIONS_AMPLICON' {
        container = "biocontainers/mulled-v2-ad9dd5f398966bf899ae05f8e7c54d0fb10cdfa7:05678da05b8e5a7a5130e90a9f9a6c585b965afa-0"
    }

    withName: 'QUAST' {
        container = "staphb/quast:5.3.0"
    }
    
    withName: 'SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.sorted" }
    }

    withName: 'TABIX_TABIX' {
        container = "staphb/htslib:1.21"
    }

    withName: 'TABIX_BGZIP' {
        container = "staphb/htslib:1.21"
    }


    withName: 'UNTAR' {
        container = "wslh-bioinformatics/pandas:1.5.0"
    }

    withName: 'VCFLIB_VCFUNIQ' {
        container = "biocontainers/vcflib:1.0.15--h3fa9d83_1"
    }

    withName: 'KRAKEN2_KRAKEN2' {
        ext.args = '--report-zero-counts --confidence 0.4'
    }
    withName: 'IVAR_VARIANTS' {
        ext.args = '-t 0.25 -q 20 -m 10'
        ext.args2 = '-aa --ignore-overlaps --count-orphans --no-BAQ --max-depth 0 --min-BQ 0'
    }
    withName: 'IVAR_CONSENSUS' {
        ext.args = '-t 0.50 -q 20 -m 10 -n N'
    }
    withName: 'FASTP' {
        ext.args = '--cut_front --cut_tail --trim_poly_x --cut_mean_quality 30 --qualified_quality_phred 30 --unqualified_percent_limit 10 --length_required 50 --adapter_sequence=AGATCGGAAGAGCACACGTCTGAACTCCAGTCA --adapter_sequence_r2=AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
    }

}

params {
    platform                     = 'illumina'
    protocol                     = 'amplicon'
    config_profile_name        = 'WSLH-EHD profile'
    config_profile_description = 'Pipeline to process SARS-CoV-2 in wastewater'
    runname = null

    save_mpileup = false
    skip_assembly = true
    skip_kraken2 = false
    skip_asciigenome = true
    skip_pangolin = true
    skip_nextclade = true
    consensus_caller = 'ivar'
    

    //kraken options
    kraken2_db                   = 's3://genome-idx/kraken/k2_standard_16_GB_20251015.tar.gz'
    kraken2_db_name              = 'human-phix'
    kraken2_variants_host_filter = true
    freyja_db_name               = 'freyja_db'
    //freyja_barcodes              = "/opt/conda/envs/freyja-env/lib/python3.11/site-packages/freyja/data/usher_barcodes.feather"
    //freyja_lineages              = "/opt/conda/envs/freyja-env/lib/python3.11/site-packages/freyja/data/curated_lineages.json"
    freyja_barcodes              = "${projectDir}/assets/usher_barcodes.feather"
    freyja_lineages              = "${projectDir}/assets/curated_lineages.json"
    
  // Custom config options

    fasta                      = 's3://dev-wslh-healthomics-cdd-genomics-databases/viralrecon/genome/MN908947.3/GCA_009858895.3_ASM985889v3_genomic.200409.fna.gz'
    gff                        = 's3://dev-wslh-healthomics-cdd-genomics-databases/viralrecon/genome/MN908947.3/GCA_009858895.3_ASM985889v3_genomic.200409.gff.gz'
    primer_fasta               = 's3://dev-wslh-healthomics-cdd-genomics-databases/viralrecon/primer_schemes/nCoV-2019/V1/nCoV-2019.reference.fasta'
    primer_bed                 = 's3://dev-wslh-healthomics-cdd-genomics-databases/viralrecon/primer_schemes/wastewater/QIAseqDIRECTSARSCoV2primersfinal.bed'
    scheme                     = 'QIAseqDIRECTSARSCoV2'
    }
